body {
    font-family: sans-serif;
    background-color: black;
  }
  
  .container {
    width: 400px;
    margin: auto auto;
    padding: 20px;
  }
  
  form {
    margin-bottom: 20px;
    align-content: center;
    color: white;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(65, 64, 64);
    color: white;
  }
  
  button {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 2.6%;
    padding: 10px;
    cursor: pointer;
    
    
    
  }
  
  .forgot-password {
    text-align: right;
    margin-bottom: 20px;
  }
  
  .sign-up {
    text-align: center;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  